<template>
  <div>
    <v-card class="text-center pa-1">
      <v-card-title
        class="justify-center display-1 mb-2"
      >Selamat Datang</v-card-title>
      <v-card-subtitle>Lengkapi kredensial, untuk login!</v-card-subtitle>
      <v-card-text>
        <!-- sign in form -->
        <v-form ref="form" lazy-validation>
          <v-text-field
            v-model="username"
            :rules="rules.notEmpty"
            :validate-on-blur="false"
            :error="error"
            label="Username"
            name="username"
            outlined
            @keyup.enter="submit"
            @change="resetErrors"
          ></v-text-field>

          <v-text-field
            v-model="password"
            :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
            :rules="rules.notEmpty"
            :type="showPassword ? 'text' : 'password'"
            :error="error"
            :error-messages="errorMessages"
            label="Password"
            name="password"
            outlined
            @change="resetErrors"
            @keyup.enter="submit"
            @click:append="showPassword = !showPassword"
          ></v-text-field>

          <v-btn
            :loading="api == 1 ? true : false"
            block
            x-large
            color="primary"
            @click.prevent.stop="submit"
          >Masuk</v-btn>

          <div class="mt-6">
            Silahkan Login dengan menggunakan akun BMC Remedy
            <!-- <router-link to="/portal/dashboard"> Lupa Password </router-link> -->
          </div>
        </v-form>
      </v-card-text>
    </v-card>

    <div class="text-center mt-6">
      Belum memiliki akun?
      <a href="https://mandiriservicedesk.corp.bankmandiri.co.id/" class="font-weight-bold">
        Daftar di sini
      </a>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import rules from '../../config/rules'
export default {
  data() {
    return {
      username: '',
      password: '',
      error: false,
      errorMessages: '',
      showPassword: false,
      rules
    }
  },
  computed: {
    ...mapGetters('auth', ['api'])
  },
  methods: {
    ...mapActions('auth', ['signin', 'logout']),
    submit() {
      if (this.$refs.form.validate()) {
        this.signin({ username: this.username, password: this.password })
      }
    },
    resetErrors() {
      this.error = false
      this.errorMessages = ''
    }
  }
}
</script>
