<template>
  <div class="d-flex flex-column flex-grow-1">
    <loading-overlay
      :is-loading="api == 1 ? true : false"
      :is-full-page="true"
    ></loading-overlay>
    <div class="d-flex align-center py-3 pt-0 pb-0">
      <v-breadcrumbs
        :items="
          formType == 'create'
            ? breadcrumbs.add
            : [...breadcrumbs.edit, { text: item.incidentNumber }]
        "
        class="pa-0 py-2"
      ></v-breadcrumbs>
      <v-spacer></v-spacer>
      <v-btn icon @click.prevent.stop="refresh">
        <v-icon>mdi-refresh</v-icon>
      </v-btn>
    </div>
    <v-card>
      <!-- <v-row dense class="pa-2 align-center"> -->
      <v-card-text>
        <v-container>
          <v-form ref="form" :lazy-validation="true">
            <v-row v-if="formType == 'create'">
              <v-col cols="12">
                <v-textarea
                  v-model="item.description"
                  label="Incident Description"
                  rows="2"
                  hint="Di isi dengan detail keterangan yang lengkap atas insiden yang terjadi"
                  :rules="[rules.notEmpty, rules.lengthMax100].flat()"
                  counter="100"
                  required
                ></v-textarea>
              </v-col>
            </v-row>
            <v-row v-if="formType != 'create'">
              <v-col :cols="item.status == 'In Progress' || item.status == 'Assigned' ? 10 : 5">
                <v-textarea
                  v-model="item.description"
                  label="Incident Description"
                  rows="2"
                  hint="Di isi dengan detail keterangan yang lengkap atas insiden yang terjadi"
                  :rules="[rules.notEmpty, rules.lengthMax100].flat()"
                  counter="100"
                  required
                  :disabled="closedTicket"
                ></v-textarea>
              </v-col>
              <v-col v-if="item.status == 'Resolved' || item.status =='Closed'" cols="5">
                <v-textarea
                  v-model="item.resolution"
                  label="Solution"
                  rows="2"
                  :rules="[rules.notEmpty, rules.lengthMin20].flat()"
                  counter="1000"
                  :disabled="formType == 'create' ? true : closedTicket ? true : false"
                  :required="formType == 'create' ? false : true"
                ></v-textarea>
              </v-col>
              <v-col cols="2">
                <v-radio-group 
                  v-model="item.status" 
                  column 
                  required 
                  placeholder="test"
                  :disabled="closedTicket || (item.status =='Resolved' && item.statusReason !==null)"
                  class="ma-0 pa-0"
                >
                  <template v-slot:label>
                    <div v-if="(item.status =='Resolved' && item.statusReason !==null)">Option disable due <strong>Resolved</strong></div>
                  </template>
                  <v-radio
                    class="font-weight-bold"
                    label="Mark as resolved incident"
                    color="success"
                    value="Resolved"
                    hint
                  ></v-radio>
                  <v-radio
                    class="font-weight-bold"
                    label="Mark as ongoing incident "
                    color="warning"
                    value="In Progress"
                  ></v-radio>
                </v-radio-group>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="4">
                <v-select
                  v-model="item.priority"
                  :items="severity"
                  label="Severity"
                  :rules="rules.notEmpty"
                  hint="Very High = Massive Impact & Critical Urgency, High = Large Impact & High Urgency, Medium = Limited Impact & Medium Urgency, Low = Localized Impact & Low Urgency"
                  required
                  :disabled="closedTicket"
                ></v-select>
              </v-col>
              <v-col cols="4">
                <v-select
                  v-model="item.categoryCause"
                  :items="incidentType"
                  label="Type Incident"
                  :rules="rules.notEmpty"
                  hint="Untuk insiden yang disebabkan dari pihak eksternal, silahkan pilih 3rd Party"
                  required
                  :disabled="closedTicket"
                ></v-select>
              </v-col>
              <v-col cols="4">
                <v-autocomplete
                  v-model="item.serviceCI"
                  :items="refServiceCI"
                  :search-input.sync="serviceCI"
                  label="Service Relation*"
                  :rules="rules.notEmpty"
                  placeholder="Ketik untuk mencari, minimal 3 huruf"
                  :loading="serviceCIApi == 0 ? false : true"
                  required
                  :disabled="closedTicket"
                  :clearable="true"
                  :no-data-text="
                    serviceCIApi == 1
                      ? 'Mengambil data dari server'
                      : 'Tidak ada data yang sesuai'
                  "
                ></v-autocomplete>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="4">
                <v-textarea
                  v-model="item.impact"
                  label="Impact"
                  rows="2"
                  hint="Deskripsikan dampak yang disebabkan atas insiden yang terjadi"
                  :rules="[rules.notEmpty, rules.lengthMax255].flat()"
                  counter="255"
                  required
                  :disabled="closedTicket"
                ></v-textarea>
              </v-col>
              <v-col cols="4">
                <v-textarea
                  v-model="item.cause"
                  label="Suspect"
                  rows="2"
                  hint="Deskripsikan dugaan atas penyebab terjadinya insiden"
                  :rules="[rules.notEmpty, rules.lengthMax255].flat()"
                  counter="255"
                  required
                  :disabled="closedTicket"
                ></v-textarea>
              </v-col>
              <v-col cols="4">
                <v-textarea
                  v-model="item.thirdPartyPIC"
                  label="Confirmed By / PIC"
                  rows="2"
                  hint="Deskripsikan dugaan atas penyebab terjadinya insiden"
                  :rules="[rules.notEmpty, rules.lengthMax255].flat()"
                  counter="255"
                  required
                  :disabled="closedTicket"
                ></v-textarea>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="4">
                <v-text-field
                  v-model="item.incTimestampStarted"
                  :value="
                    item.incTimestampStarted | formatDate('YYYY-MM-DDTHH:mm:ss')
                  "
                  type="datetime-local"
                  label="Occured Timestamp"
                  :rules="rules.notEmpty"
                  required
                  :disabled="closedTicket"
                ></v-text-field>
              </v-col>
              <v-col cols="4">
                <v-text-field
                  v-model="item.incTimestampFinished"
                  :value="
                    item.incTimestampFinished
                      | formatDate('YYYY-MM-DDTHH:mm:ss')
                  "
                  type="datetime-local"
                  label="Resolved Timestamp"
                  :rules="formType == 'create' ? [] : item.status != 'Resolved' ? [] :rules.notEmpty"
                  :disabled="formType == 'create' ? true : closedTicket ? true : false"
                  :required="formType == 'create' ? false : item.status != 'Resolved' ? true : false"
                ></v-text-field>
              </v-col>
              <v-col cols="4">
                <v-text-field
                  v-model="item.incDowntimeEstimation"
                  label="Duration"
                  suffix="Minute"
                  :required="formType == 'create' ? false : true"
                  readonly
                  :disabled="closedTicket"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-container fluid>
                <v-card tile>                
                  <v-container>
                    <v-card-title>
                      <v-text-field
                        v-model="workLogItem.detailedDescription"
                        label="Status"
                        placeholder="Input progress status atas insiden yang terjadi (update status dapat dilakukan lebih dari satu kali)"                        
                        single-line
                        :rules="rules.mustEmpty"
                        :disabled="closedTicket"
                        append-outer-icon="mdi-pen-plus"
                        @click:append-outer="storeWorkLog"
                      ></v-text-field>
                    </v-card-title>
                  </v-container>
                  <v-container>
                    <v-data-table
                      dense
                      :headers="workLogHeader"
                      :items="workLogItems"
                      :loading="api == 1 ? true : false"
                      loading-text="Memuat.."
                      item-key="name"
                      disable-pagination
                      hide-default-footer
                    >
                      <template v-slot:[`item.workLogSubmitDate`]="{ item }">
                        <v-chip
                          v-if="item.workLogSubmitDate !== null"
                          dense
                          x-small
                          label
                          color="blue"
                          text-color="white"
                        >
                          {{
                            item.workLogSubmitDate
                              | formatDate("DD/MM/YYYY HH:mm")
                          }}
                        </v-chip>
                      </template>
                    </v-data-table>
                  </v-container>
                </v-card>
              </v-container>
            </v-row>
          </v-form>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="blue"
          text
          :disabled="api == 1 ? true : false"
          @click="doCancel"
        >Cancel</v-btn>
        <v-btn
          v-if="!closedTicket"
          color="blue"
          text
          :disabled="api == 1 ? true : false"
          @click="doStoreOrUpdate"
        >Save</v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>
<script>
import LoadingOverlay from '../../../../components/common/loading-overlay.vue'
import _ from 'lodash'
import rules from '../../../../config/rules'
import { mapGetters, mapActions } from 'vuex'
import moment from 'moment-timezone'
export default {
  components: {
    LoadingOverlay
  },
  data() {
    return {
      searchQuery: '',
      rules,
      severity: ['Critical', 'High', 'Medium', 'Low'],
      incidentType: [
        'Application',
        'Jaringan',
        'Server',
        'Database',
        '3rd Party',
        'Security Attack',
        'Arsitektur',
        'Prosedur'
      ],
      servicesTemp: ''
    }
  },
  computed: {
    ...mapGetters('incident', [
      'api',
      'item',
      'breadcrumbs',
      'refServiceCI',
      'serviceCIApi',
      'workLogItem',
      'workLogItems',
      'workLogHeader'
    ]),
    closedTicket() {
      return this.item.status === 'Closed' || this.item.status === 'Cancelled' ? true : false
    },
    serviceCI: {
      get() {
        return this.servicesTemp
      },
      set(services) {
        this.servicesTemp = services === null ? '' : services
        if (this.servicesTemp.length > 2) this.loadEntries()

        return this.servicesTemp
      }
    },
    formType: {
      get() {
        return this.$route.query.type
      },
      set(type) {
        return type
      }
    },
    entryId() {
      return this.$route.query.id
    }
  },
  watch:{
    'item.incTimestampFinished':{
      handler(nVal, oVal) {
        if ((nVal !== null || oVal !== null) || (nVal !== oVal)) {
          this.item.incDowntimeEstimation = Math.round((new Date(this.item.incTimestampFinished).getTime() - new Date(this.item.incTimestampStarted).getTime()) / 60000)
        }
      },
      deep:true
    },
    'item.status':{
      handler(nVal) {
        if (nVal === 'In Progress') {
          this.item.resolution = ''
        }
      },
      deep:true
    }
  },
  mounted() {
    if (this.formType === 'create') {
      this.reset()
      this.item.incTimestampStarted =  moment(new Date()).format('YYYY-MM-DDTHH:mm') 
    } else {
      this.find(this.entryId).then(() => {
        this.getIncWorkLogs(this.item.incidentNumber)
        this.serviceCI = this.item.serviceCI
      })
    }
  },
  destroyed() {
    this.reset()
  },
  methods: {
    ...mapActions('incident', [
      'store',
      'update',
      'find',
      'reset',
      'getRefServiceCI',
      'getIncWorkLogs',
      'addIncWorkLog',
      'callToast'
    ]),
    loadEntries: _.debounce(function () {
      this.getRefServiceCI(this.serviceCI)
    }, 1000),
    storeWorkLog() {
      if (this.workLogItem.detailedDescription === null || this.workLogItem.detailedDescription === '') {
        this.callToast({ type: 'warning', text:'Worklog description cannot be empty' })
      } else {
        if (this.formType === 'create') {
          const wlItem = {
            workLogId: this.workLogItems.length + 1,
            viewAccess: 'Public',
            secureWorkLog: 'No',
            workLogType: 'General Information',
            detailedDescription: this.workLogItem.detailedDescription,
            workLogSubmitDate: new Date(),
            submitter: localStorage.getItem('loginId')
          }

          this.workLogItems.unshift(wlItem)
          this.workLogItem.detailedDescription = null
        } else {
          const wlItem = {
            workLogId: this.workLogItems.length + 1,
            viewAccess: 'Public',
            secureWorkLog: 'No',
            workLogType: 'General Information',
            detailedDescription: this.workLogItem.detailedDescription,
            workLogSubmitDate: new Date(),
            submitter: localStorage.getItem('loginId')
          }
          
          this.addIncWorkLog({ incidentNumber:this.item.incidentNumber, detailedDescription : wlItem.detailedDescription }).then(() => {
            this.workLogItems.unshift(wlItem)
            this.workLogItem.detailedDescription = null
          })
        }
      }
    },
    refresh() {
      if (this.formType === 'create') {
        this.reset()
      } else {
        this.find(this.entryId)
      }
    },
    doCancel() {
      this.reset()
      this.$router.push({ name: 'dashboard' })
    },
    doStoreOrUpdate() {
      if (this.$refs.form.validate()) {
        if (this.workLogItems.length > 0) {
          if (this.formType === 'create') {
            this.store(this.item).then((response) => {
              const incidentNumber = response.data.values['Incident Number']

              this.workLogItems.forEach((item) => {
                this.addIncWorkLog({ incidentNumber, detailedDescription : item.detailedDescription })
              })
              this.$router.push({ name: 'dashboard' })
            })
          } else {
            this.update(this.item).then(
              () => {
                this.$router.push({ name: 'dashboard' })
              }
            )
          }
        } else {
          this.callToast({ type: 'warning', text:'Input at least one record of progress status' })
        } 
      }
    }
  }
}
</script>
<style>
.v-input__slot {
  align-items: center;
  justify-content: center;
}
.v-card__actions {
  padding-right: 2.5%;
  padding-bottom: 1.5%;
}
</style>
