<template>
  <v-menu 
    bottom 
    left
    :absolute="true"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-btn icon v-bind="attrs" v-on="on">
        <v-icon>mdi-dots-vertical</v-icon>
      </v-btn>
    </template>
    <v-list v-for="(acs, i) in access" :key="i" dense tile>
      <v-list-item v-if="acs == 'broadcast'" @click="broadcastItem(item)">
        <v-list-item-icon>
          <v-icon>mdi-share-all</v-icon>
        </v-list-item-icon>
        <v-list-item-title>Broadcast</v-list-item-title>
      </v-list-item>
      <v-list-item v-if="acs == 'edit'" @click="editItem(item)">
        <v-list-item-icon>
          <v-icon>mdi-pencil</v-icon>
        </v-list-item-icon>
        <v-list-item-title>Edit</v-list-item-title>
      </v-list-item>
      <v-list-item v-if="acs == 'resolve'" @click="resolveItem(item)">
        <v-list-item-icon>
          <v-icon>mdi-draw</v-icon>
        </v-list-item-icon>
        <v-list-item-title>Resolve</v-list-item-title>
      </v-list-item>
      <v-list-item v-if="acs == 'postStatus'" @click="progressItem(item)">
        <v-list-item-icon>
          <v-icon>mdi-form-select</v-icon>
        </v-list-item-icon>
        <v-list-item-title>Status Progress</v-list-item-title>
      </v-list-item>
      <!-- NOT USED  -->
      <!-- 
      <v-list-item v-if="acs == 'status'" @click="statusItem(item)">
        <v-list-item-icon v-if="!item.status">
          <v-icon>mdi-check</v-icon>
        </v-list-item-icon>
        <v-list-item-icon v-else>
          <v-icon>mdi-close</v-icon>
        </v-list-item-icon>
        <v-list-item-title v-if="!item.status">Activate</v-list-item-title>
        <v-list-item-title v-else>Nonactivate</v-list-item-title>
      </v-list-item> -->
      <!-- Menu Item User role management -->
      <!-- <v-list-item v-if="acs == 'detail'" @click="detailUser(item)">
        <v-list-item-icon>
          <v-icon>mdi-account</v-icon>
        </v-list-item-icon>
        <v-list-item-title>User Detail</v-list-item-title>
      </v-list-item>
      <v-list-item v-if="acs == 'access'" @click="accessUser(item)">
        <v-list-item-icon>
          <v-icon>mdi-account-check</v-icon>
        </v-list-item-icon>
        <v-list-item-title>User access</v-list-item-title>
      </v-list-item> -->
      <!-- end Item user role managment -->
      <!-- <v-list-item v-if="acs == 'status'" @click="statusItem(item)">
        <v-list-item-icon v-if="!item.status">
          <v-icon>mdi-check</v-icon>
        </v-list-item-icon>
        <v-list-item-icon v-else>
          <v-icon>mdi-close</v-icon>
        </v-list-item-icon>
        <v-list-item-title v-if="!item.status">Activate</v-list-item-title>
        <v-list-item-title v-else>Nonactivate</v-list-item-title>
      </v-list-item> -->
    </v-list>
  </v-menu>
</template>
<script>
export default {
  props: {
    item: { type: Object, default: null },
    access: { type: Array, default: () => [] } 
  },
  methods: {
    editItem(item) {
      this.$emit('itemToEdit', item)
    },
    resolveItem(item) {
      this.$emit('itemToResolve', item)
    },
    progressItem(item) {
      this.$emit('itemToProgress', item)
    },
    broadcastItem(item) {
      this.$emit('itemToBroadcast', item)
    }
    // statusItem(item) {
    //   this.$emit('itemToStatus', item)
    // },
    // detailUser(item) {
    //   this.$emit('userToDetail', item)
    // },
    // accessUser(item) {
    //   this.$emit('accessToUser', item)
    // }
  }
}
</script>
