<template>
  <v-list nav dense>
    <div>
      <div v-for="(item, index) in menu" :key="index">
        <div v-if="item.key || item.text" class="pa-1 mt-2 overline">
          {{ item.text }}
        </div>
        <nav-menu :menu="item.items" />
      </div>
    </div>
  </v-list>
</template>
<script>
import NavMenu from './nav-menu.vue'
export default {
  components: {
    NavMenu
  },
  props: {
    menu: {
      type: Array,
      default: () => [
        {
          items: [
            { text: 'Home', icon:'mdi-home', link:'/portal/dashboard'  }
            // ,
            // { text: 'Summary Report', icon:'mdi-chart-line', link: 'report' }
          ]
        }
      ]
    }
  }
}
</script>
