<template>
  <loading
    :active.sync="isLoading"
    :is-full-page="isFullPage"
    color="#579"
    loader="dots"
    :height="200"
  ></loading>
</template>
<script>
import Loading from 'vue-loading-overlay'
import 'vue-loading-overlay/dist/vue-loading.css'

export default {
  components: {
    Loading
  },
  props: { 
    isLoading:{
      type:Boolean,
      default:false
    }, 
    isFullPage:{ 
      type:Boolean,
      default:false
    }
  }
}
</script>
