<template>
  <v-dialog v-model="profileDialog" max-width="700">
    <v-card>
      <v-card-title class="headline" color="green">
        <v-icon class="mr-1">mdi-account-box-outline</v-icon>
        My Profile
      </v-card-title>
      <v-card-text>
        <v-container>
          <v-form>
            <v-row>
              <v-col cols="12" class="pa-0 ma-0">
                <v-text-field
                  v-model="item['Full Name']"
                  label="Full Name"
                  readonly
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" class="pa-0 ma-0">
                <v-text-field
                  v-model="item['Corporate ID']"
                  label="NIP"
                  readonly
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" class="pa-0 ma-0">
                <v-text-field
                  v-model="item['Internet E-mail']"
                  label="Internet Email"
                  readonly
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" class="pa-0 ma-0">
                <v-text-field
                  v-model="item['Company']"
                  label="Company"
                  readonly
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" class="pa-0 ma-0">
                <v-text-field
                  v-model="item['Organization']"
                  label="Orginzation Group"
                  readonly
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" class="pa-0 ma-0">
                <v-text-field
                  v-model="item['Department']"
                  label="Department"
                  readonly
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" class="pa-0 ma-0">
                <v-text-field
                  v-model="item['License Type']"
                  label="License Type"
                  readonly
                ></v-text-field>
              </v-col>
            </v-row>
          </v-form>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="error" @click="closeDialog()">Close</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script>
import { mapActions,mapGetters } from 'vuex'
export default {
  props: { 
    profileDialog:{ type:Boolean,default:false },
    item:{ type: Object, default: null } 
  },
  computed: {
    ...mapGetters(['user'])
  },
  methods: {
    ...mapActions(['setProfileDialog']),
    closeDialog() {
      this.setProfileDialog(false)
    }
  }
}
</script>
