<template>
  <v-app>
    <component :is="currentLayout" v-if="isRouterLoaded">
      <transition name="fade" mode="out-in">
        <router-view></router-view>
      </transition>
    </component>

    <v-snackbar
      v-model="toast.show"
      :timeout="toast.timeout"
      :color="toast.color"
      bottom
    >
      {{ toast.message }}
      <v-btn
        v-if="toast.timeout === 0"
        color="white"
        text
        @click="toast.show = false"
      >
        {{ $t("common.close") }}</v-btn>
    </v-snackbar>
  </v-app>
</template>

<script>
import { mapGetters } from 'vuex'
import config from './config'
import authLayout from './layouts/auth-layout.vue'
import portalLayout from './layouts/portal-layout.vue'

export default {
  components: {
    authLayout,
    portalLayout
  },
  computed: {
    ...mapGetters(['toast']),
    isRouterLoaded: function () {
      if (this.$route.name !== null) return true

      return false
    },
    currentLayout: function () {
      const layout = this.$route.meta.layout || 'landing'

      return layout + 'Layout'
    }
  },
  head: {
    link: [...config.icons.map((href) => ({ rel: 'stylesheet', href }))]
  }
}
</script>
