<template>
  <div class="d-flex flex-grow-1">
    <!-- Navigation -->
    <v-navigation-drawer
      v-model="drawer"
      app
      floating
      class="elevation-1"
      :right="$vuetify.rtl"
      :light="menuTheme === 'light'"
      :dark="menuTheme === 'dark'"
    >
      <!-- Navigation menu info -->
      <template v-slot:prepend>
        <div class="pa-2">
          <div class="title font-weight-bold text-uppercase primary--text">
            OD Dashboard V2
          </div>
          <div class="overline grey--text">2.0.0</div>
        </div>
      </template>

      <!-- Navigation menu -->
      <main-menu />

      <!-- Navigation menu footer -->
      <template v-slot:append>
        <!-- Footer navigation links -->
        <div class="pa-1 text-center">
          <v-btn
            href="https://imamwewi.online"
            target="_blank"
            small
            text
          >
            Documentation
          </v-btn>
        </div>
      </template>
    </v-navigation-drawer>

    <!-- Toolbar -->
    <v-app-bar
      app
      :color="isToolbarDetached ? 'surface' : undefined"
      :flat="isToolbarDetached"
      :light="toolbarTheme === 'light'"
      :dark="toolbarTheme === 'dark'"
    >
      <v-card
        class="flex-grow-1 d-flex"
        :class="[isToolbarDetached ? 'pa-1 mt-3 mx-1' : 'pa-0 ma-0']"
        :flat="!isToolbarDetached"
      >
        <div class="d-flex flex-grow-1 align-center">
          <!-- search input mobile -->
          <v-text-field
            v-if="showSearch"
            append-icon="mdi-close"
            placeholder="Search"
            prepend-inner-icon="mdi-magnify"
            hide-details
            solo
            flat
            autofocus
            @click:append="showSearch = false"
          ></v-text-field>

          <div v-else class="d-flex flex-grow-1 align-center">
            <v-app-bar-nav-icon
              @click.stop="drawer = !drawer"
            ></v-app-bar-nav-icon>

            <v-spacer class="d-none d-lg-block"></v-spacer>

            <toolbar-user />
          </div>
        </div>
      </v-card>
    </v-app-bar>

    <v-main>
      <v-container class="fill-height" :fluid="!isContentBoxed">
        <v-layout>
          <slot></slot>
        </v-layout>
        <user-profile-modal
          :profile-dialog="profileDialogFlag"
          :item="user"
        ></user-profile-modal>
      </v-container>

      <v-footer app inset>
        <v-spacer></v-spacer>
        <div class="overline">
          Built By
          <a
            class="text-decoration-none"
            href="https://mandiriservicedesk.corp.bankmandiri.co.id"
            target="_blank"
          >@mandiriservicedesk</a>
        </div>
      </v-footer>
    </v-main>
  </div>
</template>

<script>
// navigation menu configurations
import { mapGetters, mapActions } from 'vuex'
import config from '../config'
import MainMenu from '../components/navigation/main-menu.vue'
import ToolbarUser from '../components/toolbar/toolbar-user.vue'
import UserProfileModal from '../pages/portal/_modal/user-profile-modal.vue'

export default {
  components: {
    MainMenu,
    ToolbarUser,
    UserProfileModal
  },
  data() {
    return {
      drawer: null,
      showSearch: false,
      navigation: config.navigation,
      isContentBoxed: config.theme.isContentBoxed,
      menuTheme:config.theme.menuTheme,
      toolbarTheme:config.theme.toolbarTheme,
      isToolbarDetached: config.theme.isToolbarDetached

    }
  },
  computed: {
    ...mapGetters(['profileDialogFlag']),
    ...mapGetters('auth',['user'])
  },
  mounted() {
    // this.subscribe()
  },
  beforeDestroy() {
    // this.unsubscribe()
  },
  methods: {
    // ...mapActions(['subscribe', 'unsubscribe']),
    onKeyup() {
      this.$refs.search.focus()
    }
  }
}
</script>

<style scoped>
.buy-button {
  box-shadow: 1px 1px 18px #ee44aa;
}
</style>
