<template>
  <v-dialog v-model="resolveDialog" max-width="700">
    <loading-overlay
      :is-loading="api == 1 ? true : false"
      :is-full-page="true"
    ></loading-overlay>
    <v-card>
      <v-card-title class="headline" color="green">
        {{ item.incidentNumber }}
      </v-card-title>
      <v-card-text>
        <v-container>
          <v-form ref="resolveModal">
            <v-row>
              <v-col cols="12" class="pa-0 ma-0">
                <v-text-field
                  v-model="item.description"
                  label="Incident Description"
                  readonly
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="4" class="pt-0 pb-0 pr-1 pl-0">
                <v-text-field
                  v-model="item.incTimestampStarted"
                  :value="
                    item.incTimestampStarted | formatDate('YYYY-MM-DDTHH:mm:ss')
                  "
                  type="datetime-local"
                  label="Occured Timestamp"
                  readonly
                ></v-text-field>
              </v-col>
              <v-col cols="4" class="pt-0 pb-0 pr-1 pl-0">
                <v-text-field
                  v-model="item.incTimestampFinished"
                  :value="
                    item.incTimestampFinished
                      | formatDate('YYYY-MM-DDTHH:mm:ss')
                  "
                  type="datetime-local"
                  label="Resolved Timestamp"
                  :rules="rules.notEmpty"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="4" class="pt-0 pb-0 pr-0 pl-1">
                <v-text-field
                  v-model="item.incDowntimeEstimation"
                  label="Duration"
                  suffix="Minute"
                  required
                  readonly
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row> 
              <v-col class="pt-0 pl-0 pr-0">
                <v-textarea
                  v-model="item.resolution"
                  label="Solution"
                  rows="3"
                  :rules="[rules.notEmpty, rules.lengthMin20].flat()"
                  counter="1000"
                  required
                ></v-textarea>
              </v-col>
            </v-row>
          </v-form>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="error" @click="closeDialog()">Cancel</v-btn>
        <v-btn color="success" @click="resolve()">Resolve</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script>
import rules from '../../../../config/rules'
import { mapActions, mapGetters } from 'vuex'
import LoadingOverlay from '../../../../components/common/loading-overlay.vue'
export default {
  components:{
    LoadingOverlay
  },
  props: { 
    resolveDialog:{ type:Boolean,default:false },
    item:{ type: Object, default: null } 
  },
  data() {
    return {
      rules
    }
  },
  computed: {
    ...mapGetters('incident',['api'])
  },
  watch:{
    'item.incidentNumber':{
      handler(nVal, oVal) {
        if (nVal === null && oVal === null) {
          this.closeDialog()
        }
      },
      deep:true
    }
    ,
    'item.incTimestampFinished':{
      handler(nVal, oVal) {
        if ((nVal !== null ) || (nVal !== oVal)) {
          const calDowntime = Math.round((new Date(this.item.incTimestampFinished).getTime() - new Date(this.item.incTimestampStarted).getTime()) / 60000)

          this.item.incDowntimeEstimation = calDowntime > 0 ? calDowntime : null
        }
      },
      deep:true
    }
  },
  methods: {
    ...mapActions('dashboard',['setRslvDialogFlag']),
    ...mapActions('incident', ['update']),
    resolve() {
      if (this.$refs.resolveModal.validate()) {
        this.item.status = 'Resolved'
        this.update(this.item).then(
          () => {
            this.setRslvDialogFlag({ flag:false,item:this.item })
          }
        )
      }
    },
    closeDialog() {
      this.item.incTimestampFinished = null
      this.item.incDowntimeEstimation = null
      this.item.resolution = null
      this.setRslvDialogFlag({ flag:false,item:this.item })
    }
  }
}
</script>