<template>
  <v-dialog v-model="whatsappDialog" max-width="700">
    <v-card>
      <v-card-title class="headline" color="green">
        <v-icon v-if="item.status == 'Resolved' || item.status == 'Closed'" class="mr-1" color="green">mdi-check-circle-outline</v-icon>
        <v-icon v-else class="mr-1" color="red">mdi-close-octagon-outline</v-icon>
        {{ item.incidentNumber }}
      </v-card-title>
      <v-card-text>
        <v-container>
          <v-form>
            <v-row>
              <v-col cols="12" class="pa-0 ma-0">
                <v-text-field
                  v-model="item.description"
                  label="Incident Description"
                  :rules="rules.notEmpty"
                  required
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" class="pa-0 ma-0">
                <v-text-field
                  v-model="item.serviceCI"
                  label="Service Relation"
                  :rules="rules.notEmpty"
                  required
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" class="pa-0 ma-0">
                <v-text-field
                  v-model="item.priority"
                  label="Severity"
                  :rules="rules.notEmpty"
                  required
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" class="pa-0 ma-0">
                <v-text-field
                  v-model="categoryCauseTmp"
                  label="Type Incident"
                  :rules="rules.notEmpty"
                  required
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" class="pa-0 ma-0">
                <v-text-field
                  v-model="item.impact"
                  label="Impact"
                  :rules="rules.notEmpty"
                  required
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" class="pa-0 ma-0">
                <v-text-field
                  v-model="item.cause"
                  label="Suspect"
                  :rules="rules.notEmpty"
                  required
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" class="pa-0 ma-0">
                <v-text-field
                  v-model="timestampStartedTmp"
                  label="Waktu Terindikasi"
                  :rules="rules.notEmpty"
                  required
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col v-if="item.status == 'Resolved' || item.status == 'Closed'" cols="12" class="pa-0 ma-0" >
                <v-text-field
                  v-model="timestampDurationTmp"
                  label="Durasi Gangguan"
                  :rules="rules.notEmpty"
                  required
                ></v-text-field>
              </v-col>
              <v-col v-else cols="12" class="pa-0 ma-0">
                <v-text-field
                  v-model="timestampDurationTmp"
                  label="Estimasi"
                  :rules="rules.notEmpty"
                  required
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" class="pa-0 ma-0">
                <v-text-field
                  v-model="item.thirdPartyPIC"
                  label="Konfirmasi / PIC"
                  :rules="rules.notEmpty"
                  required
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" class="pa-0 ma-0">
                <v-textarea
                  v-model="statusLogsTmp"
                  label="Status / Next Update"
                  rows="3"
                  :rules="rules.notEmpty"
                  required
                ></v-textarea>
              </v-col>
            </v-row>
            <v-row v-if="item.status == 'Resolved' || item.status == 'Closed'">
              <v-col cols="12" class="pa-0 ma-0">
                <v-text-field
                  v-model="item.resolution"
                  label="Solusi"
                  :rules="rules.notEmpty"
                  required
                ></v-text-field>
              </v-col>
            </v-row>
          </v-form>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="error" @click="closeDialog()">Cancel</v-btn>
        <v-btn color="primary" @click="copyClose()">Copy & Close</v-btn>
        <v-btn color="success" disabled @click="broadcast()">Broadcast</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script>
import rules from '../../../../config/rules'
import moment from 'moment-timezone'
import { mapActions,mapGetters } from 'vuex'
export default {
  props: { 
    whatsappDialog:{ type:Boolean,default:false },
    item:{ type: Object, default: null } 
  },
  data() {
    return {
      rules,
      timestampStarted_ : moment(this.item.incTimestampStarted).locale('id').tz('Asia/Jakarta').format('LLLL'),
      timestampDuration_ : (this.item.status === 'Resolved' || this.item.status === 'Closed') ? `${moment(this.item.incTimestampStarted).locale('id').tz('Asia/Jakarta').format('LLL')} -  ${moment(this.item.incTimestampFinished).locale('id').tz('Asia/Jakarta').format('LLL')}, durasi (${ this.convertHoursAndMins(this.item.incDowntimeEstimation)})` : 'Belum dapat ditentukan',
      categoryCause_ : this.item.categoryCause === '3rd Party' ? `External - ${ this.item.categoryCause }` : `Internal - ${ this.item.categoryCause }`
    }
  },
  computed: {
    ...mapGetters('auth',['user']),
    ...mapGetters('dashboard',['statusLogs']),
    statusLogsTmp: {
      get() {
        return this.statusLogs
      },
      set(param) {
        this.setStatusLogs(param)
      }
    },
    timestampStartedTmp:{
      get() {
        return this.timestampStarted_
      },
      set(param) {
        this.timestampStarted_ = param
      }
    },
    timestampDurationTmp:{
      get() {
        return this.timestampDuration_
      },
      set(param) {
        this.timestampDuration_ = param
      }
    },
    categoryCauseTmp: {
      get() {
        return this.categoryCause_
      },
      set(param) {
        this.categoryCause_ = param
      }
    }
  },
  watch:{
    'item.incidentNumber':{
      handler(nVal, oVal) {
        this.timestampStarted_ = moment(this.item.incTimestampStarted).locale('id').tz('Asia/Jakarta').format('LLLL')
        this.timestampDuration_ = (this.item.status === 'Resolved' || this.item.status === 'Closed') ? `${moment(this.item.incTimestampStarted).locale('id').tz('Asia/Jakarta').format('LLL')} -  ${moment(this.item.incTimestampFinished).locale('id').tz('Asia/Jakarta').format('LLL')}, durasi (${ this.convertHoursAndMins(this.item.incDowntimeEstimation)})` : 'Belum dapat ditentukan'
        this.categoryCause_ = this.item.categoryCause === '3rd Party' ? `External - ${ this.item.categoryCause }` : `Internal - ${ this.item.categoryCause }`

        if (nVal === null) {
          this.closeDialog()
        }
      },
      deep:true
    },
    'item.status':{
      handler(nVal,oVal) {
        this.timestampDuration_ = (nVal === 'Resolved' || nVal === 'Closed') ? `${moment(this.item.incTimestampStarted).locale('id').tz('Asia/Jakarta').format('LLL')} -  ${moment(this.item.incTimestampFinished).locale('id').tz('Asia/Jakarta').format('LLL')}, durasi (${ this.convertHoursAndMins(this.item.incDowntimeEstimation)})` : 'Belum dapat ditentukan'
      },
      deep: true
    }
  },
  methods: {
    ...mapActions('dashboard',['setWaDialogFlag','setStatusLogs']),
    copyClose() {
      const parsedItem = {
        incidentNumber: this.item.incidentNumber,
        incidentDescription: this.item.description,
        serviceRelation: this.item.serviceCI,
        severity: this.item.priority,
        typeIncident: this.categoryCauseTmp,
        impact: this.item.impact,
        suspect: this.item.cause,
        waktuTerindikasi: this.timestampStartedTmp,
        durasiGangguan: this.timestampDurationTmp,
        konfirmasiPIC: this.item.thirdPartyPIC,
        status: this.statusLogsTmp,
        solusiNextUpdate: this.item.resolution,
        ticketStatus: this.item.status
      }

      let waText = ''

      if (parsedItem.ticketStatus === 'Resolved' || parsedItem.ticketStatus === 'Closed') {
        waText  = `✅ *Incident ${parsedItem.incidentNumber}:*\n\n*Incident :*\n${parsedItem.incidentDescription}\n\n*Service Relation :*\n${parsedItem.serviceRelation}\n\n*Severity :*\n${parsedItem.severity}\n\n*Type Incident :*\n${parsedItem.typeIncident}\n\n*Impact :*\n${parsedItem.impact}\n\n*Suspect :*\n${parsedItem.suspect}\n\n*Waktu Terindikasi :*\n${parsedItem.waktuTerindikasi}\n\n*Durasi Gangguan :*\n${parsedItem.durasiGangguan}\n\n*Konfirmasi / PIC :*\n${parsedItem.konfirmasiPIC}\n\n*Status / Next Update:*\n${parsedItem.status}\n\n*Solusi:*\n${parsedItem.solusiNextUpdate}\n\nTerima kasih (${ this.user['Full Name']})`
      } else {
        waText  = `🚫 *Incident ${parsedItem.incidentNumber}:*\n\n*Incident :*\n${parsedItem.incidentDescription}\n\n*Service Relation :*\n${parsedItem.serviceRelation}\n\n*Severity :*\n${parsedItem.severity}\n\n*Type Incident :*\n${parsedItem.typeIncident}\n\n*Impact :*\n${parsedItem.impact}\n\n*Suspect :*\n${parsedItem.suspect}\n\n*Waktu Terindikasi :*\n${parsedItem.waktuTerindikasi}\n\n*Estimasi :*\n${parsedItem.durasiGangguan}\n\n*Konfirmasi / PIC :*\n${parsedItem.konfirmasiPIC}\n\n*Status / Next Update:*\n${parsedItem.status}\n\nTerima kasih (${ this.user['Full Name']})`
      }

      this.$clipboard(waText, 'WA Message Draft Copied')
      this.setWaDialogFlag({ flag:false, item:this.item, statusLogs:'' })
    },
    broadcast() {

    },
    closeDialog() {
      this.setWaDialogFlag({ flag:false,item:this.item,statusLogs:'' })
    },
    convertHoursAndMins(totalMinutes) {
      const hours = Math.floor(totalMinutes / 60)
      const minutes = totalMinutes % 60

      return `${hours} jam ${minutes} menit`
    }
  }
}
</script>
