<template>
  <v-dialog v-model="worklogDialog" max-width="700">
    <loading-overlay
      :is-loading="worklogApi == 1 ? true : false"
      :is-full-page="true"
    ></loading-overlay>
    <v-card>
      <v-card-title class="headline" color="green">
        {{ inc.incidentNumber }}
      </v-card-title>
      <v-card-text>
        <v-container>
          <v-form ref="worklogModal">
            <v-row>
              <v-text-field
                v-model="workLogItem.detailedDescription"
                label="Status"
                placeholder="Input progress status atas insiden yang terjadi (update status dapat dilakukan lebih dari satu kali)"                        
                single-line
                :rules="rules.mustEmpty"
                append-outer-icon="mdi-pen-plus"
                @click:append-outer="storeWorkLog"
              ></v-text-field>
            </v-row>
            <v-row>
              <v-col cols="12" class="pl-0 pr-0">
                <v-data-table
                  dense
                  :headers="workLogHeader"
                  :items="workLogItems"
                  :loading="worklogApi == 1 ? true : false"
                  loading-text="Memuat.."
                  item-key="name"
                  disable-pagination
                  hide-default-footer
                >
                  <template v-slot:[`item.workLogSubmitDate`]="{ item }">
                    <v-chip
                      v-if="item.workLogSubmitDate !== null"
                      dense
                      x-small
                      label
                      color="blue"
                      text-color="white"
                    >
                      {{
                        item.workLogSubmitDate
                          | formatDate("DD/MM/YYYY HH:mm")
                      }}
                    </v-chip>
                  </template>
                </v-data-table>
              </v-col>
            </v-row>
          </v-form>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="error" @click="closeDialog()">Close</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script>
import rules from '../../../../config/rules'
import { mapActions, mapGetters } from 'vuex'
import LoadingOverlay from '../../../../components/common/loading-overlay.vue'
export default {
  components:{
    LoadingOverlay
  },
  props: { 
    worklogDialog:{ type:Boolean,default:false },
    inc:{ type: Object, default: null }
  },
  data() {
    return {
      rules
    }
  },
  computed: {
    ...mapGetters('incident',['workLogHeader','workLogItems','worklogApi','workLogItem'])
  },
  methods: {
    ...mapActions('dashboard',['setWlDialogFlag']),
    ...mapActions('incident', ['addIncWorkLog','getIncWorkLogs','callToast']),
    closeDialog() {
      this.setWlDialogFlag({ flag:false,item:this.inc })
    },
    storeWorkLog() {
      if (this.workLogItem.detailedDescription === null || this.workLogItem.detailedDescription === '') {
        this.callToast({ type: 'warning', text:'Worklog description cannot be empty' })
      } else {
        const wlItem = {
          viewAccess: 'Public',
          secureWorkLog: 'No',
          workLogType: 'General Information',
          detailedDescription: this.workLogItem.detailedDescription,
          workLogSubmitDate: new Date(),
          submitter: localStorage.getItem('loginId')
        }

        this.addIncWorkLog({ incidentNumber:this.inc.incidentNumber, detailedDescription : wlItem.detailedDescription }).then(() => {
          this.workLogItems.unshift(wlItem)
          this.workLogItem.detailedDescription = null
        })
      }
    }
  }
}
</script>