<template>
  <div class="d-flex flex-column flex-grow-1">
    <div class="d-flex flex-column flex-grow-1">
      <loading-overlay
        :is-loading="api == 1 ? true : false"
        :is-full-page="true"
      ></loading-overlay>
      <!-- HEADER -->
      <div class="d-flex align-center py-3 pt-0 pb-0">
        <div>
          <v-breadcrumbs
            :items="breadcrumbs.list"
            class="pa-0 py-2"
          ></v-breadcrumbs>
        </div>
        <v-spacer></v-spacer>
        <v-btn color="primary" to="/portal/dashboard/incident/form?type=create">
          Add Incident
        </v-btn>
      </div>
      <!-- CONTENT -->
      <v-card>
        <!-- SEARCH BAR -->
        <v-row dense class="pa-2 align-center">
          <v-spacer></v-spacer>
          <v-col cols="6" class="d-flex text-right align-center">
            <v-text-field
              v-model="searchQuery"
              append-icon="mdi-magnify"
              class="flex-grow-1 mr-md-2"
              solo
              hide-details
              dense
              clearable
              placeholder="Incident Number, Notes, or Summary"
              @keyup="search"
            ></v-text-field>
            <v-btn
              :loading="api == 1 ? true : false"
              icon
              small
              class="ml-2"
              @click.stop.prevent="refresh"
            >
              <v-icon>mdi-refresh</v-icon>
            </v-btn>
          </v-col>
        </v-row>
        <!-- DATA TABLE -->
        <v-col>
          <v-data-table
            v-model="selectedItems"
            :headers="header"
            :items="items"
            :loading="api == 1 ? true : false"
            loading-text="Memuat"
            :options.sync="pagination"
            :server-items-length="totalItems"
            :footer-props="{
              'disable-items-per-page': true,
              'show-current-page': true,
            }"
          >
            <!-- SLOT INCIDENT NUMBER -->
            <template v-slot:[`item.incidentNumber`]="{ item }">
              <v-tooltip bottom>
                <template v-slot:activator="{ on }">
                  <div
                    :ref="item.incidentNumber"
                    class="copylabel animate__faster font-weight-bold"
                    v-on="on"
                    @click.stop.prevent="copyIncNo(item.incidentNumber)"
                  >
                    {{ item.incidentNumber }}
                  </div>
                </template>
                <span>{{ tooltip }}</span>
              </v-tooltip>
            </template>
            <!-- SLOT INCIDENT STATUS -->
            <template v-slot:[`item.status`]="{ item }">
              <v-tooltip bottom>
                <template v-slot:activator="{ on }">
                  <v-icon v-if="item.status=='Closed'" color="blue" v-on="on">mdi-checkbox-multiple-marked-circle-outline</v-icon>
                  <v-icon v-else-if="item.status=='Assigned'" color="red" v-on="on">mdi-alert-box-outline</v-icon>
                  <v-icon v-else-if="item.status=='Resolved'" color="green" v-on="on">mdi-checkbox-marked-circle-outline</v-icon>
                  <v-icon v-else-if="item.status=='In Progress'" color="orange" v-on="on">mdi-clock-alert-outline</v-icon>
                  <v-icon v-else color="red" v-on="on">mdi-close-circle</v-icon>
                </template>
                <span>{{ item.status }}</span>
              </v-tooltip>
              
            </template>
            <!-- SLOT INCIDENT TIMESTAMP STARTED -->
            <template v-slot:[`item.incTimestampStarted`]="{ item }">
              <v-chip
                v-if="item.incTimestampStarted !== null"
                dense
                x-small
                label
                color="blue"
                text-color="white"
              >
                {{ item.incTimestampStarted | formatDate("DD/MM/YYYY HH:mm") }}
              </v-chip>
              <v-chip
                v-else
                dense
                x-small
                label
                color="blue"
                text-color="white"
              >
                N/A
              </v-chip>
            </template>
            <!-- SLOT INCIDENT TIMESTAMP FINISHED -->
            <template v-slot:[`item.incTimestampFinished`]="{ item }">
              <v-chip
                v-if="item.incTimestampFinished !== null"
                dense
                x-small
                label
                color="blue"
                text-color="white"
              >
                {{
                  item.incTimestampFinished | formatDate("DD/MM/YYYY HH:mm")
                }}
              </v-chip>
              <v-chip
                v-else
                dense
                x-small
                label
                color="blue"
                text-color="white"
              >
                N/A
              </v-chip>
            </template>
            <!-- SLOT DOWNTIME -->
            <template v-slot:[`item.incDowntimeEstimation`]="{ item }">
              <v-chip
                v-if="item.incDowntimeEstimation !== null"
                dense
                x-small
                label
                :color="item.incDowntimeEstimation > 120 ? 'red' : item.incDowntimeEstimation > 15 ? 'blue' : 'green'"
                text-color="white"
              >
                {{ item.incDowntimeEstimation }}
              </v-chip>
              <v-chip
                v-else
                dense
                x-small
                label
                color="orange"
                text-color="white"
              >
                N/A
              </v-chip>
            </template>
            <!-- SLOT ACTION -->
            <template v-slot:[`item.action`]="{ item }">
              <dot-action-menu
                :item="item"
                :access="(item.status == 'Resolved' || item.status =='Closed') ? ['edit','broadcast']:['edit','resolve','postStatus','broadcast']"
                @itemToEdit="editItem"
                @itemToBroadcast="broadcastItem"
                @itemToResolve="resolveItem"
                @itemToProgress="progressItem"
              ></dot-action-menu>
            </template>
          </v-data-table>
        </v-col>
      </v-card>
    </div>
    <div>
      <whatsapp-modal
        :whatsapp-dialog="waDialogFlag"
        :item="item"
      >
      </whatsapp-modal>
      <worklog-modal
        :worklog-dialog="wlDialogFlag"
        :inc="item"
      >
      </worklog-modal>
      <resolve-modal
        :resolve-dialog="rslvDialogFlag"
        :item="item"
        :wl-items="[]"
      >
      </resolve-modal>
    </div>
  </div>
</template>
<script>
import { mapActions, mapGetters } from 'vuex'
import LoadingOverlay from '../../../components/common/loading-overlay'
import DotActionMenu from '../../../components/navigation/dot-action-menu'
import WhatsappModal from './modal/whatsapp-modal.vue'
import WorklogModal from './modal/worklog-modal.vue'
import ResolveModal from './modal/resolve-modal.vue'
export default {
  components: {
    DotActionMenu,
    LoadingOverlay,
    WhatsappModal,
    WorklogModal,
    ResolveModal
  },
  props: {
    text: {
      type: String,
      default: ''
    },
    toastText: {
      type: String,
      default: 'Copied to clipboard!'
    },
    animation: {
      type: String,
      default: 'heartBeat'
    }
  },
  data() {
    return {
      tooltip: 'Copy',
      searchQuery: '',
      selectedItems: [],
      loaded: false,
      pagination: {}
    }
  },
  computed: {
    ...mapGetters('auth', [
      'user'
    ]),
    ...mapGetters('dashboard', [
      'items',
      'header',
      'api',
      'totalItems',
      'breadcrumbs',
      'waDialogFlag',
      'wlDialogFlag',
      'rslvDialogFlag',
      'statusLogs',
      'item'
    ])
  },
  watch: {
    pagination: {
      deep: true,
      handler(newVal) {
        this.fetch({
          ...newVal,
          ...{ searchQuery: this.searchQuery !== '' ? this.searchQuery : null }
        })
      }
    }
  },
  beforeDestroy() {
    if (this.timeout) clearTimeout(this.timeout)
  },
  destroyed() {
    this.resetState()
  },
  methods: {
    ...mapActions('dashboard', 
      ['fetch', 
        'resetState',
        'getIncWorkLogs',
        'setWaDialogFlag',
        'setWlDialogFlag',
        'setRslvDialogFlag',
        'wlArrayToString'
      ]),
    copyIncNo(incNo) {
      this.$animate(this.$refs[`${incNo}`], this.animation)
      this.$clipboard(incNo, this.toastText)
      this.tooltip = 'Incident Number Copied!'

      this.timeout = setTimeout(() => {
        this.tooltip = 'Copy'
      }, 2000)
    },
    search(event) {
      if (event.keyCode === 13) {
        this.fetch({
          ...this.pagination,
          ...{ searchQuery: this.searchQuery !== '' ? this.searchQuery : null }
        })
      }
    },
    refresh() {
      this.searchQuery = ''
      this.resetState()
      this.fetch({
        ...this.pagination,
        ...{ searchQuery: this.searchQuery !== '' ? this.searchQuery : null }
      })
    },
    editItem(item) {
      this.$router.push({
        name: 'incident-form',
        query: { type: 'edit', id: item.entryId }
      })
    },
    broadcastItem(item) {
      this.getIncWorkLogs(item.incidentNumber).then((wlItems) => {
        this.wlArrayToString(wlItems)
        this.setWaDialogFlag({ flag:true,item,statusLogs:this.statusLogs })
      })
    },
    resolveItem(item) {
      this.setRslvDialogFlag({ flag:true,item })
    },
    progressItem(item) {
      this.getIncWorkLogs(item.incidentNumber).then(() => {
        this.setWlDialogFlag({ flag:true,item })
      })
    }
  }
}
</script>
<style lang="scss" scoped>
.copylabel {
  cursor: pointer;
  display: inline-block;
  border-bottom: 1px dashed;
}
.slide-fade-enter-active {
  transition: all 0.3s ease;
}
.slide-fade-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}
</style>
